@model UrlViewModel

@{
    ViewData["Title"] = "Генератор коротких ссылок";
}
@if (Model.url == "")
{
    <form method="post" action="/">

        <input name="url" placeholder="Введите ссылку, которую нужно сократить" type="text" value=""></input>
        <input type="submit" value="Сократить"></input>
    </form>
}
else
{
    <h1>@Model.url</h1>
}
